################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EY-APP-WEB/v15/Server/sqlite3
